@import "../../behaviors/button.css";

.stylos-button-base {
  --_stylos-button-foreground: var(--stylos-color-text-inverted);
  --_stylos-button-shadow: var(--stylos-shadow-elevation-1);
}

.stylos-button-base[data-tone="base"] {
  --_stylos-button-default: var(--stylos-color-surface-bold-base-default);
  --_stylos-button-hover: var(--stylos-color-surface-bold-base-hover);
  --_stylos-button-active: var(--stylos-color-surface-bold-base-active);
  --_stylos-button-disabled: var(--stylos-color-surface-bold-base-disabled);
}

.stylos-button-base[data-tone="primary"] {
  --_stylos-button-default: var(--stylos-color-surface-bold-primary-default);
  --_stylos-button-hover: var(--stylos-color-surface-bold-primary-hover);
  --_stylos-button-active: var(--stylos-color-surface-bold-primary-active);
  --_stylos-button-disabled: var(--stylos-color-surface-bold-primary-disabled);
}

.stylos-button-base[data-tone="warning"] {
  --_stylos-button-default: var(--stylos-color-surface-bold-warning-default);
  --_stylos-button-hover: var(--stylos-color-surface-bold-warning-hover);
  --_stylos-button-active: var(--stylos-color-surface-bold-warning-active);
  --_stylos-button-disabled: var(--stylos-color-surface-bold-warning-disabled);
}

.stylos-button-base[data-tone="danger"] {
  --_stylos-button-default: var(--stylos-color-surface-bold-danger-default);
  --_stylos-button-hover: var(--stylos-color-surface-bold-danger-hover);
  --_stylos-button-active: var(--stylos-color-surface-bold-danger-active);
  --_stylos-button-disabled: var(--stylos-color-surface-bold-danger-disabled);
}

.stylos-button-base[data-tone="success"] {
  --_stylos-button-default: var(--stylos-color-surface-bold-success-default);
  --_stylos-button-hover: var(--stylos-color-surface-bold-success-hover);
  --_stylos-button-active: var(--stylos-color-surface-bold-success-active);
  --_stylos-button-disabled: var(--stylos-color-surface-bold-success-disabled);
}
